WCFTestClient/Web References/BilletSystemReference/BilletSystemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BilletSystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8720/BilletSystemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8720/BilletSystemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8720/BilletSystemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BilletSystemService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBilletSystem_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilBro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBilBro" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilBro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBilBroResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilRabatBro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBilRabatBro" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilRabatBro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBilRabatBroResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetMCBro_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMCBro" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetMCBro_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMCBroResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilPris_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBilPris" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetBilPris_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBilPrisResponse" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetMCPris_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMCPris" />
  </wsdl:message>
  <wsdl:message name="IBilletSystem_GetMCPris_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMCPrisResponse" />
  </wsdl:message>
  <wsdl:portType name="IBilletSystem">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetData" message="tns:IBilletSystem_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetDataResponse" message="tns:IBilletSystem_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetDataUsingDataContract" message="tns:IBilletSystem_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetDataUsingDataContractResponse" message="tns:IBilletSystem_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBilBro">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetBilBro" message="tns:IBilletSystem_GetBilBro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetBilBroResponse" message="tns:IBilletSystem_GetBilBro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBilRabatBro">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetBilRabatBro" message="tns:IBilletSystem_GetBilRabatBro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetBilRabatBroResponse" message="tns:IBilletSystem_GetBilRabatBro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMCBro">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetMCBro" message="tns:IBilletSystem_GetMCBro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetMCBroResponse" message="tns:IBilletSystem_GetMCBro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBilPris">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetBilPris" message="tns:IBilletSystem_GetBilPris_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetBilPrisResponse" message="tns:IBilletSystem_GetBilPris_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMCPris">
      <wsdl:input wsaw:Action="http://tempuri.org/IBilletSystem/GetMCPris" message="tns:IBilletSystem_GetMCPris_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBilletSystem/GetMCPrisResponse" message="tns:IBilletSystem_GetMCPris_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBilletSystem" type="tns:IBilletSystem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBilBro">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetBilBro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBilRabatBro">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetBilRabatBro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMCBro">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetMCBro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBilPris">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetBilPris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMCPris">
      <soap:operation soapAction="http://tempuri.org/IBilletSystem/GetMCPris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BilletSystemService">
    <wsdl:port name="BasicHttpBinding_IBilletSystem" binding="tns:BasicHttpBinding_IBilletSystem">
      <soap:address location="http://localhost:8720/BilletSystemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>